In [8]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\office\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\office\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\office\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\office\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\office\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\office\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
import pandas as pd

In [15]:
# Task 1
# Creating Employee DataFrame
employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
}

employee_df = pd.DataFrame(employee_data)
employee_df.to_csv("employee.csv", index=False)

In [16]:
# Creating Seniority Level DataFrame
seniority_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 2, 3, 2, 3]
}

seniority_df = pd.DataFrame(seniority_data)
seniority_df.to_csv("seniority.csv", index=False)

In [17]:
# Creating Project DataFrame
project_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005", "A002", "A005", "A003", "A001", "A003", "A001", "A004", "A004", "A005"],
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5", "Project 6", "Project 7", "Project 8", "Project 9", "Project 10", "Project 11", "Project 12", "Project 13", "Project 14"],
    "Cost": [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished", "Failed", "Finished", "Failed", "Ongoing", "Finished", "Failed", "Ongoing", "Finished", "Finished"]
}

project_df = pd.DataFrame(project_data)
project_df.to_csv("project.csv", index=False)

In [18]:
# Task 2
# Calculate running average to replace missing values
for i in range(len(project_df)):
    if pd.isna(project_df.loc[i, "Cost"]):
        project_df.loc[i, "Cost"] = project_df["Cost"][:i].mean()

# Save the updated Project dataframe
project_df.to_csv("project.csv", index=False)

In [20]:
# Tgask 3
# Split Name into First Name and Last Name
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)
employee_df.drop(columns=['Name'], inplace=True)
employee_df.to_csv('employee.csv', index=False)

In [26]:
# Task 4
# Merge DataFrames
final_df = employee_df.merge(seniority_df, on='ID').merge(project_df, on='ID')
final_df.to_csv('final.csv', index=False)

In [27]:
# Task 5
# Add Bonus Column
final_df['Bonus'] = final_df.apply(lambda x: 0.05 * x['Cost'] if x['Status'] == 'Finished' else 0, axis=1)
final_df.to_csv('final.csv', index=False)

In [29]:
# Task 6
# Demote and delete records
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] += 1
final_df = final_df[final_df['Designation Level'] <= 4]
final_df.to_csv('final.csv', index=False)

In [ ]:
# Task 7
final_df['First Name'] = final_df.apply(lambda x: 'Mr. ' + x['First Name'] if x['Gender'] == 'M' else 'Mrs. ' + x['First Name'], axis=1)
final_df.drop(columns=['Gender'], inplace=True)
final_df.to_csv('final.csv', index=False)

In [41]:
# Task 8
# Define a function to promote based on age
def promote_based_on_age(row):
    if row['Age'] > 29:
        row['Designation Level'] = max(1, row['Designation Level'] + 1)
    return row

# Apply the function to each row
final_df = final_df.apply(promote_based_on_age, axis=1)
final_df.to_csv('final.csv', index=False)

In [37]:
# Task 9
# Calculate total project cost
totalprojcost = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
totalprojcost.rename(columns={'Cost': 'Total Cost'}, inplace=True)
totalprojcost.to_csv('totalprojcost.csv', index=False)

In [42]:
# Task 10
# Filter employees by city name containing 'o'
filtered_df = final_df[final_df['City'].str.contains('o', case=False)]
print(filtered_df)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  4   Project 6
8   A004  Newyork   31   Mrs. Nina      Adgra                  3   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 13

         Cost    Status     Bonus
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0